.cardHeader {
  width: 100%;
  height: 64px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 64px;
  grid-template-areas: "title buttons";
}

.cardTitle {
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 64px;
  font-size: 24px;
  user-select: none;
}

.cardHeader .cardHeaderButtons {
  grid-area: buttons;
}

.readOnlyBooleanCard,
.readOnlyFloatCard,
.readWriteBooleanCard {
  width: 100%;
  height: calc(100% - 64px);
}

.readOnlyBooleanCard svg {
  height: 100px;
  padding: 47px 75px 47px 75px;
}

.wide .readOnlyBooleanCard svg {
  padding: 47px 207px 47px 207px;
}

.large .readOnlyBooleanCard svg {
  height: 200px;
  padding: 130px 157px 130px 157px;
}

.readOnlyBooleanCard svg {
  color: red;
}

.readOnlyBooleanCard.active svg {
  color: green;
}

.readWriteBoundedFloatCard .min {
  line-height: 48px;
  grid-area: min;
}

.readWriteBoundedFloatCard .max {
  line-height: 48px;
  grid-area: max;
}

.readWriteBoundedFloatCard .slider {
  padding-top: 16px;
  grid-area: slider;
}

.readWriteBooleanCard {
  display: grid;
  grid-template-rows: auto 24px auto;
  grid-template-columns: auto 50px auto;
  grid-template-areas: ". . ." ". switch ." ". . .";
}

.readWriteBooleanCard .switch {
  grid-area: switch;
}
