.tileHeader {
  width: 100%;
  height: 64px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 64px;
  grid-template-areas: "title buttons";
}

.tileTitle {
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 64px;
  font-size: 24px;
  user-select: none;
}

.tileHeader .tileHeaderButtons {
  grid-area: buttons;
}

.readOnlyBooleanTile,
.readOnlyFloatTile,
.readWriteBooleanTile {
  width: 100%;
  height: calc(100% - 64px);
}

.readOnlyBooleanTile svg {
  height: 100px;
  padding: 47px 75px 47px 75px;
}

.wide .readOnlyBooleanTile svg {
  padding: 47px 207px 47px 207px;
}

.large .readOnlyBooleanTile svg {
  height: 200px;
  padding: 130px 157px 130px 157px;
}

.readOnlyBooleanTile svg {
  color: red;
}

.readOnlyBooleanTile.active svg {
  color: green;
}

.readWriteBoundedFloatTile .min {
  line-height: 48px;
  grid-area: min;
}

.readWriteBoundedFloatTile .max {
  line-height: 48px;
  grid-area: max;
}

.readWriteBoundedFloatTile .slider {
  padding-top: 16px;
  grid-area: slider;
}

.readWriteBooleanTile {
  display: grid;
  grid-template-rows: auto 24px auto;
  grid-template-columns: auto 50px auto;
  grid-template-areas: ". . ." ". switch ." ". . .";
}

.readWriteBooleanTile .switch {
  grid-area: switch;
}
